<!-- <div dropdown>
  <button dropdownToggle>{{selected || 'Select'}}</button>
  <ul dropdownMenu>
    <li
      *ngFor="let option of options"
      (click)="selectOption(option)">
        {{option}}
    </li>
  </ul>
</div> -->

<!-- <div dropdown>
  <button dropdownToggle>{{selected || 'Select'}}</button>
  <ul *dropdownMenu>
    <li
      *ngFor="let option of options"
      (click)="selectOption(option)">

        <fa-icon *ngIf="getIconFunc(option)" [icon]="getIconFunc(option) "></fa-icon>
        {{displayFunc(option)}}

    </li>
  </ul>
</div> -->


<div class="app-selector btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">

    <ng-template #defaultSelected>
      {{selected?.name || selected ||  label}}
    </ng-template>
    <ng-container
        [ngTemplateOutlet]="selectedTemplateRef || defaultSelected"
        [ngTemplateOutletContext]="{$implicit: selected}">
    </ng-container>
    <span class="caret"> </span>
  </button>
  <ul *dropdownMenu class="dropdown-menu">
    <li *ngFor="let option of options; index as i"
        (click)="selectOption(option)">
      <!-- Define a default template -->
      <ng-template #defaultTemplate let-option>
        <a class="dropdown-item">
          {{option?.name || option}}
        </a>
      </ng-template>
        <!-- <ng-container
            *ngTemplateOutlet="optionTemplate || defaultTemplate; context:{ $implicit: option, idx: i }">
        </ng-container> -->

      <ng-container
            [ngTemplateOutlet]="optionTemplate || defaultTemplate"
            [ngTemplateOutletContext]="{ $implicit: option, idx: i }">

      </ng-container>

    </li>
  </ul>
</div>
