<!-- <app-selector  [options]="sharks"  [getIconFunc]="getIconFunc">

</app-selector> -->

<!-- <ng-template #optionTemplate let-option let-position="idx">
  {{position}} : {{option}}
</ng-template> -->

<ng-template #selectedTemplate let-shark>
  <fa-icon *ngIf="shark" [icon]="getIconFunc(shark)"></fa-icon>
  {{shark?.name || "Shark"}}
</ng-template>

<ng-template #sharkTemplate let-shark let-id="index">
  <a class="dropdown-item" [style.color]="id % 2 == 0 ? 'black' : 'blue'">
    <fa-icon *ngIf="shark"  [icon]="getIconFunc(shark) "></fa-icon>
    {{appendFunc(shark)}}
  </a>
</ng-template>

<app-selector
    [label]="'Sharks'"
    [options]="sharks"
    [optionTemplate]="sharkTemplate"
    (selectionChanged)="selectedShark = $event"
    [selectedTemplateRef]="selectedTemplate">

</app-selector>

